<div class="container">
  <div class="body">
    <div class="row form-center team-show-search" >
      <%= simple_form_for [@team, @request], remote: true do |f| %>
      <h3>Confront this Team</h3>
      <div class="date-request">
        <%= f.input :start_date, as: :string, required: true, input_html: {placeholder: "Start date", class: "datepicker-unavailable index-field"} %>
        <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker-unavailable index-field"} %>
      </div>
      <div class="at-home">
        <%= f.input :at_home, label: 'LOCATION', as: :check_boxes, required: true,collection: [['0', "Home: #{current_user.team.league.city}, #{current_user.team.league.country}"], ['1', "Away: #{@team.league.city}, #{@team.league.country}" ]], label_method: :second, value_method: :first, class: "text-left" %>

      </div>
      <%= f.simple_fields_for :message do |message| %>
        <%= message.input :content, label: "Message" %>
      <% end %>
      <%= f.button :submit, "GO GET THEM", class: 'my-btn', id: "request-sent" %>
    <% end %>
    </div>
  </div>
</div>
