<div class="teams-search-container">
  <div class="container">
    <h2 class="text-center teams-index-title">Ugly teams displayed by ranking pertinence</h2>
    <p class="text-center my-ranking">Your ranking: <%= current_user.team.ranking %></p>
    <h3 class="text-center search-title">Wonderful search</h3>
    <div class="row form-search">
      <%= simple_form_for :index, method: "GET", remote: true, url: teams_path, html: {class: "form-inline form-center"} do |f| %>
        <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker datepicker-margin", placeholder: "Start Date"} %>
        <%= f.input :end_date, input_html: {class: "datepicker datepicker-margin", placeholder: "End Date"} %>
        <%= f.input :distance, :collection => [["< 50 km", 50], ["< 100 km", 100], ["< 500 km", 500], ["Everywhere", 50000]], required: true %>
        <%= f.button :submit, "Search",  class: 'my-btn my-btn-index-margin' %>
      <% end %>
    </div>
  </div>
</div>

<div class="background-color">
  <div class="container">
    <div class="row teams-flex">
      <%= render 'result', teams: @teams %>
    </div>
  </div>
</div>




