
<div class="container grid">
  <div class="card-category">
    <div class="card-img">
      <h2 class="text-center"><%= @team.name.upcase %></h2>
      <p><%= cl_image_tag(@team.photo, height: 250, width: 250,crop: :fill) %></p>
    </div>

    <div class="card-team-infos">
      <div class="team-content">
        <p><%= @team.league.name %></p>
        <p><%= @team.league.city %>, <%= @team.league.country %></p>
      </div>
      <div class="star-ranking">
        <p class="ranking"><%= @team.ranking %></p>
      </div>
    </div>
  </div>
  <% if @team.user %>
    <div class="contact-from">
      <% if @team.user.photo? %>
        <p><%= cl_image_tag(@team.user.photo, height: 50, width: 50,crop: :fill, class: 'avatar') %></p>
        <p>Contact: <%= @team.user.derby_name %></p>
      <% else %>
        <p><%= image_tag 'avatar.png', height: 50, width: 50,crop: :fill, class: 'avatar' %></p>
      <% end %>
      <p>Please contact <%= @team.user.derby_name %> to make a game request.</p>
    </div>

    <% if current_user != @team.user %>
      <div class="requesting-form text-center">
      <%= render 'form', request: @request, team: @team %>
    <% end %>
    <% else %>
      <p class="contact-from">No one has claimed this team yet. If you know them, let them know!</p>
  <% end %>

  </div>
</div>
