
<div class="container grid">
  <div class="card-category">
    <div class="card-img">
      <h2 class="text-center"><%= @team.name.upcase %></h2>
      <p><%= cl_image_tag(@team.photo, height: 250, width: 250,crop: :fill) %></p>
    </div>
    <div class="card-team-infos">
      <div class="team-content">
        <p><%= @team.league.name %></p>
        <p><%= @team.league.city %>, <%= @team.league.country %></p>
      </div>
      <div class="star-ranking">
        <i class="far fa-star"></i>
        <p class="ranking"><%= @team.ranking %></p>
      </div>
    </div>
  </div>
  <div class="contact-from text-center">
    <p><%= cl_image_tag(@team.user.photo, height: 50, width: 50,crop: :fill, class: 'avatar') %></p>
    <p>Please contact <%= @team.user.derby_name %> to make a game request.</p>
  </div>
  <div class="request-form">
    <% if current_user != @team.user %>
    <%= render 'form', request: @request, team: @team %>
    <% end %>
  </div>
