<div class="container grid">
  <div class="card-category">
    <div class="card-img text-center">
      <h2 class="team-show-title"><%= @team.league.name.upcase %></h2>
      <p><%= @team.name.upcase %></p>
      <p><%= cl_image_tag(@team.photo, height: 250, width: 250,crop: :fill) %></p>
      <p class="ranking">#<%= @team.ranking %></p>
    </div>

    <div class="card-team-infos">
      <div class="star-ranking">
      </div>
    </div>
  </div>

  <% if current_user.team.league == @team.league %>
    <div class="requesting-form text-center your-own-league">
      <p>This team is part of your league, try inviting another team!</p>
      <%= link_to "FIND A TEAM", teams_path, class: "my-btn" %>
    </div>
  <% elsif current_user != @team.user && @team.user.present? %>
    <div class="requesting-form text-center">
      <%= render 'form', request: @request, team: @team, booking_start_date: @booking_start_date %>
  <% elsif current_user = @team.user %>
    <div class="requesting-form text-center your-own-league">
      <p>This is your own team, try inviting another team!</p>
      <%= link_to "FIND A TEAM", teams_path, class: "my-btn" %>
    </div>
  <% else %>
      <div class="requesting-form text-center">
        No one has claimed this team yet. If you know them, let them know!
      </div>
  <% end %>

  </div>
</div>
