<div class="old-request request-details">
  <div class="dates text-center">
    <p><%= request.start_date.strftime('%a %d %b %Y') %></p>
  </div>
  <div class="request-content">
    <div class="team">
      <p><%= request.user.team.league.name.upcase %><br><%= request.user.team.name %></p>
      <p>#<%= request.user.team.ranking %></p>
    </div>
    <div class="location">
      <p>
        <% if request.at_home == false %>
          <i class="fas fa-home"></i> <%= current_user.team.league.city %>, <%= current_user.team.league.country %>
        <% else %>
          <i class="fas fa-plane"></i> <%= request.user.team.league.city %>, <%= request.user.team.league.country %>
        <% end %>
      </p>
    </div>
    <div class="status">
      <p>Status: <br><%= request.status %> by you </p>
    </div>
  </div>
</div>
