<div class="container">
  <div class="row">
    <h2 class="white">Requests for <%= current_user.team.name %></h2>
    <br>
  </div>
  <!-- pending requests: -->
  <% if @pending_requests_received.present? || @pending_requests_sent.present? %>
    <div class="pending-requests">
      <h3 class="white">Pending requests:</h3>
      <% @pending_requests_received.each do |request| %>
        <%= render 'received', request: request %>
      <% end %>
      <% @pending_requests_sent.each do |request| %>
        <%= render 'sent', request: request %>
      <% end %>
    </div>
  <% else %>
      <h3 class="white">No pending request</h3>
  <% end %>

  <!-- cancelled & declined requests -->
  <div class="old-requests">
    <% if @declined_requests_sent.present? || @declined_requests_received.present? || @cancelled_requests_sent.present? || @cancelled_requests_received.present? %>
      <h3 class="white">Cancelled & declined requests:</h3>
      <% @declined_requests_received.each do |request| %>
        <%= render 'old-received', request: request %>
      <% end %>

      <% @declined_requests_sent.each do |request| %>
        <%= render 'old-sent', request: request %>
      <% end %>

      <% @cancelled_requests_received.each do |request| %>
        <%= render 'old-received', request: request %>
      <% end %>

      <% @cancelled_requests_sent.each do |request| %>
        <%= render 'old-sent', request: request %>
      <% end %>
    <% end %>
  </div>
</div>
