<div class="container">
  <div class="row">
    <h1>Requests for <%= current_user.team.name %></h1>
    <br>
  </div>
  <!-- pending requests: -->
  <% if @pending_requests_received.present? || @pending_requests_sent.present? %>
    <div class="pending-requests">
      <div class="row">
        <h3>Pending requests:</h3>
      </div>
      <% if @pending_requests_received.present? %>
        <% @pending_requests_received.each do |request| %>
        <div class="row">
          <div class="pending-received request-details">
            <div class="team">
              <p>From: <%= request.user.team.name %> - <%= request.user.team.league.name %> <br>
                Ranking: <%= request.user.team.ranking %></p>
            </div>
            <div class="dates">
              <p>From <%= request.start_date.strftime('%a %d %b %Y') %><br>
                To <%= request.end_date.strftime('%a %d %b %Y') %></p>
            </div>
            <div class="location">
              <p>
                Location: <br>
                <% if request.at_home == false %>
                  <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                <% else %>
                  <%= request.user.team.league.city %> - <%= request.user.team.league.country %>
                <% end %>
              </p>
            </div>
            <div class="link">
              <p>
                <%= link_to "Get more details", team_request_path(request.team, request), class:"my-btn" %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>

      <% if @pending_requests_sent.present? %>
        <% @pending_requests_sent.each do |request| %>
        <div class="row">
          <div class="pending-sent request-details">
            <div class="team">
              <p>To: <%= request.team.name %> - <%= request.team.league.name %> <br>
              Ranking: <%= request.user.team.ranking %></p>
            </div>
            <div class="dates">
              <p>From <%= request.start_date.strftime('%a %d %b %Y') %> <br>
                To <%= request.end_date.strftime('%a %d %b %Y') %></p>
            </div>
            <div class="location">
              <p>
                Location: <br>
                <% if request.at_home == false %>
                  <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                <% else %>
                  <%= request.user.team.league.city %> - <%= request.user.team.league.country %>
                <% end %>
              </p>
            </div>
            <div class="link">
              <p>
                <%= link_to "Get more details", team_request_path(request.user.team, request), class:"my-btn" %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <h3>No pending request</h3>
    </div>
  <% end %>

  <!-- see all games -->
  <div class="games">
    <div>accepted_requests_received</div>
    <%= @accepted_requests_received %>
    <div>accepted_requests_sent</div>
    <%= @accepted_requests_sent %>
    <% if @accepted_requests_received.present? || @accepted_requests_sent.present? %>
      <div class="row">
        <h3>Games:</h3>
      </div>
      <div class="row">
        <p>Games are requests that you received and accepted or that you sent and got accepted.</p>
      </div>

      <div class="row link">
        <p>
          <%= link_to "See all", team_games_path(current_user.team), class:"my-btn" %>
        </p>
      </div>
    <% end %>
  </div>

  <!-- cancelled & declined requests -->
  <div class="old-requests">
    <% if @declined_requests_sent.present? || @declined_requests_received.present? || @cancelled_requests_sent.present? || @cancelled_requests_received.present? %>
    <div class="row">
      <h3>Cancelled & declined requests:</h3>
    </div>
    <% if @declined_requests_received.present? %>
      <% @declined_requests_received.each do |request| %>
        <div class="row">
          <div class="grey-card request-details">
            <div class="team">
              <p>From: <%= request.user.team.name %> - <%= request.user.team.league.name %> <br>
              Ranking: <%= request.user.team.ranking %></p>
            </div>
            <div class="dates">
              <p>From <%= request.start_date.strftime('%a %d %b %Y') %> <br>
                To <%= request.end_date.strftime('%a %d %b %Y') %></p>
            </div>
            <div class="location">
              <p>
                Location: <br>
                <% if request.at_home == false %>
                  <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                <% else %>
                  <%= request.user.team.league.city %> - <%= request.user.team.league.country %>
                <% end %>
              </p>
            </div>
            <div class="status">
              <p>
                Status: <br>
                <%= request.status %> by you
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @declined_requests_sent.present? %>
      <% @declined_requests_sent.each do |request| %>
        <div class="row">
          <div class="grey-card request-details">
            <div class="team">
              <p>To: <%= request.team.name %> - <%= request.team.league.name %> <br>
              Ranking: <%= request.team.ranking %></p>
            </div>
            <div class="dates">
              <p>From <%= request.start_date.strftime('%a %d %b %Y') %> <br>
                To <%= request.end_date.strftime('%a %d %b %Y') %></p>
            </div>
            <div class="location">
              <p>
                Location: <br>
                <% if request.at_home == false %>
                  <%= request.team.league.city %> - <%= request.team.league.country %>
                <% else %>
                  <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                <% end %>
              </p>
            </div>
            <div class="status">
              <p>
                Status: <br>
                <%= request.status %> by <%= request.team.name %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @cancelled_requests_received.present? %>
      <% @cancelled_requests_received.each do |request| %>
        <div class="row">
          <div class="grey-card request-details">
            <div class="team">
              <p>From: <%= request.user.team.name %> - <%= request.user.team.league.name %> <br>
              Ranking: <%= request.user.team.ranking %></p>
            </div>
            <div class="dates">
              <p>From <%= request.start_date.strftime('%a %d %b %Y') %> <br>
                To <%= request.end_date.strftime('%a %d %b %Y') %></p>
            </div>
            <div class="location">
              <p>
                Location: <br>
                <% if request.at_home == false %>
                  <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                <% else %>
                  <%= request.team.league.city %> - <%= request.team.league.country %>
                <% end %>
              </p>
            </div>
            <div class="status">
              <p>
                Status: <br>
                <%= request.status %> by <%= request.user.team.name %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>


      <% if @cancelled_requests_sent.present? %>
        <% @cancelled_requests_sent.each do |request| %>
          <div class="row">
            <div class="grey-card request-details">
              <div class="team">
                <p>To: <%= request.team.name %> - <%= request.team.league.name %> <br>
                Ranking: <%= request.team.ranking %></p>
              </div>
              <div class="dates">
                <p>From <%= request.start_date.strftime('%a %d %b %Y') %> <br>
                  To <%= request.end_date.strftime('%a %d %b %Y') %></p>
              </div>
              <div class="location">
                <p>
                  Location: <br>
                  <% if request.at_home == false %>
                    <%= request.team.league.city %> - <%= request.team.league.country %>
                  <% else %>
                    <%= current_user.team.league.city %> - <%= current_user.team.league.country %>
                  <% end %>
                </p>
              </div>
              <div class="status">
                <p>
                  Status: <br>
                  <%= request.status %> by you
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>

