<!-- if it's a request i've sent -->
<div class="container">
  <% if @request.user == current_user %>
    <h2 class="text-center title-request white">Request to <%= @team.name.upcase %></h2>
    <div class="grid-request">
      <div class="card">
        <div class="team-img">
          <p><%= image_tag(@team.photo, height: 250, width: 250,crop: :fill) %></p>
        </div>
        <div class="team-infos">
          <p>League: <%= @team.league.name %></p>
          <p>Ranking: <%= @team.ranking %></p>
          <p>Location: <%= @team.league.city %>, <%= @team.league.country %></p>
          <p>Contact: <%= @team.user.derby_name %></p>
        </div>

        <div class="request-infos">
          <p><%= @request.start_date.strftime('%a %d %b %Y') %></p>
          <p>
            Location:
            <% if @request.at_home == true %>
              <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (home)
            <% else %>
              <%= @team.league.city %>, <%= @team.league.country %> (away)
            <% end %>
          </p>
        </div>
        <div class="request-status" id="request-status">
          <div id='<%= "update-request-form-#{@request.id}" %>'>
            <%= render 'form-update-request', request: @request %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container message-container">
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
      <div class="chat-message">
        <div class="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>
  </div>

  <!-- if it's a request i've received -->
  <% else %>
  <div class="container">
    <h2 class="text-center title-request white">Request from <%= @request.user.team.name %></h2>
    <div class="grid-request">
      <div class="card">
        <div class="team-img">
          <p><%= image_tag(@request.user.team.photo, height: 250, width: 250,crop: :fill) %></p>
        </div>
        <div class="team-infos">
          <p>League: <%= @request.user.team.league.name %></p>
          <p>Ranking: <%= @request.user.team.ranking %></p>
          <p>Location: <%= @request.user.team.league.city %>, <%= @request.user.team.league.country %></p>
          <p>Contact: <%= @current_user.team.user.derby_name %></p>
        </div>

        <div class="request-infos">
          <p><%= @request.start_date.strftime('%a %d %b %Y') %></p>
          <p>
            Location:
             <% if @request.at_home == true %>
            <%= @current_user.team.league.city %>, <%= @current_user.team.league.country %> (home)
            <% else %>
            <%= @current_user.team.league.city %>, <%= @current_user.team.league.country %> (away)
            <% end %>
          </p>
        </div>
         <div class="request-status" id="request-status">
            <div id='<%= "update-request-form-#{@request.id}" %>'>
              <%= render 'form-update-request', request: @request %>
            </div>
        </div>
      </div>
    </div>

    <div class="container message-container">
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
      <div class="chat-message">
        <div class="messages" id="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>
      <!-- <div class="message-form form-request-center"> -->
        <%#= simple_form_for [@request, @message], remote: true, url: messages_path, method: :post do |f| %>
          <%#= f.input :content, label: 'Your reply' %>
          <%#= f.input :request_id, as: :hidden %>
          <%#= f.button :submit, "Send Message",  class: 'my-btn center-right-btn' %>
        <%# end %>
      <!-- </div> -->
    </div>
  <% end %>
</div>
