<!-- if it's a request i've sent -->
<div class="container">
  <% if @request.user == current_user %>
    <h2 class="text-center title-request">Requests to <%= @team.name.upcase %></h2>
    <div class="grid-request">
      <div class="card">
        <div class="team-img">
          <p><%= image_tag(@team.photo, height: 250, width: 250,crop: :fill) %></p>
        </div>
        <div class="team-infos">
          <p>League: <%= @team.league.name %></p>
          <p>Ranking: <%= @team.ranking %></p>
          <p>Location: <%= @team.league.city %>, <%= @team.league.country %></p>
          <p>Contact: <%= @team.user.derby_name %></p>
        </div>


        <div class="request-infos">
          <p>Dates: <%= @request.start_date %> - <%= @request.start_date %></p>
          <p>
            Location:
            <% if @request.at_home == true %>
              <%= @user.team.league.city %>, <%= @user.team.league.country %> (home)
            <% else %>
              <%= @team.league.city %>, <%= @team.league.country %> (away)
            <% end %>
          </p>
        </div>
        <div class="request-status">
          <p><%= @request.status.upcase %></p>
          <% if @request.status.upcase == "PENDING" %>
            <%= simple_form_for [@request.team, @request] , method: :patch do |f| %>
              <%= f.button :submit, value: 'Cancel', class:"my-btn cancel-decline" %>
            <% end %>
          <% end %>
        </div>
    </div>


    </div>
  </div>

  <div class="container message-container">
      <div class="chat-message">
        <div class="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
  </div>

  <!-- if it's a request i've received -->
  <% else %>
  <div class="container">
    <h2 class="text-center title-request">Requests from <%= @request.user.team.name %></h2>
    <div class="grid-request">
      <div class="card">
        <div class="team-img">
          <p><%= image_tag(@request.user.team.photo, height: 250, width: 250,crop: :fill) %></p>
        </div>
        <div class="team-infos">
          <p>League: <%= @request.user.team.league.name %></p>
          <p>Ranking: <%= @request.user.team.ranking %></p>
          <p>Location: <%= @request.user.team.league.city %>, <%= @request.user.team.league.country %></p>
          <p>Contact: <%= @current_user.team.user.derby_name %></p>
        </div>

        <div class="request-infos">
          <p>Dates: <%= @request.start_date %> - <%= @request.start_date %></p>
          <p>
            Location:
             <% if @request.at_home == true %>
            <%= @current_user.team.league.city %>, <%= @current_user.team.league.country %> (home)
            <% else %>
            <%= @current_user.team.league.city %>, <%= @current_user.team.league.country %> (away)
            <% end %>
          </p>
        </div>
         <div class="request-status">
          <p><%= @request.status.upcase %></p>
          <% if @request.status.upcase == "PENDING" %>
            <%= simple_form_for [@request.team, @request] , method: :patch do |f| %>
              <%= f.button :submit, value: 'Accept', class:"my-btn" %>
            <% end %>
            <%= simple_form_for [@request.team, @request] , method: :patch do |f| %>
              <%= f.button :submit, value: 'Decline', class:"my-btn cancel-decline" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container message-container">
      <div class="chat-message">
        <div class="messages" id="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
    </div>
  <% end %>
</div>
