<div class="container">
  <h1 class=text-center>Upcoming game</h1>

  <!-- request sent -->
  <% if @game.request.user == current_user %>
    <p class="text-center">Location:
    <% if @game.request.at_home == false %>
      <%= current_user.team.league.city %>, <%= ccurrent_user.team.league.country %> (home)
    <% else %>
      <%= @game.request.team.league.city %>, <%= @game.request.team.league.country %> (away)
    <% end %>
    </p>
    <p class="text-center">
      Dates: from <%= @game.request.start_date %> to <%= @game.request.end_date %>
    </p>

    <div class="row games-flex">
      <div class="col-md-3">
        <div class="background-color">
          <div class="card games-index">
            <div class="team-index-card">
              <p class="teams-index-name text-center">
                <%= link_to @game.request.team.name.upcase, team_path(@game.request.team) %>
              </p>
              <%= link_to team_path(@game.request.team) do %>
                <%= cl_image_tag @game.request.team.photo, class: "teams-index-photo" %>
              <% end %>
              <p class="teams-index-ranking text-center">
                Ranking: <%= @game.request.team.ranking %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="background-color">
          <div class="card games-index">
            <div class="team-index-card">
              <p class="teams-index-name text-center">
              <%= link_to @team.name.upcase, team_path(@team) %></p>
              <%= link_to team_path(@team) do %>
                <%= cl_image_tag @team.photo, class: "teams-index-photo" %>
              <% end %>
              <p class="teams-index-ranking text-center">
                Ranking: <%= @team.ranking %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container message-container">
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
      <div class="chat-message">
        <div class="messages" id="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>
    </div>

  <!-- request received -->
  <% else %>
    <p class="text-center">Location:
    <% if @game.request.at_home == false %>
      <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (away)
    <% else %>
      <%= @game.request.team.league.city %>, <%= @game.request.team.league.country %> (home)
    <% end %>
    </p>
    <p class="text-center">
      Dates: from <%= @game.request.start_date %> to <%= @game.request.end_date %>
    </p>

    <div class="row games-flex">
      <div class="col-md-3">
        <div class="background-color">
          <div class="card games-index">
            <div class="team-index-card">
              <p class="teams-index-name text-center">
              <%= link_to @team.name.upcase, team_path(@team) %></p>
              <%= link_to team_path(@team) do %>
                <%= cl_image_tag @team.photo, class: "teams-index-photo" %>
              <% end %>
              <p class="teams-index-ranking text-center">
                Ranking: <%= @team.ranking %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="background-color">
          <div class="card games-index">
            <div class="team-index-card">
              <p class="teams-index-name text-center">
              <%= link_to @game.request.user.team.name.upcase, team_path(@game.request.user.team) %></p>
              <%= link_to team_path(@game.request.user.team) do %>
                <%= cl_image_tag @game.request.user.team.photo, class: "teams-index-photo" %>
              <% end %>
              <p class="teams-index-ranking text-center">
                Ranking: <%= @game.request.user.team.ranking %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container message-container">
      <div class="message-form form-request-center">
        <%= render 'requests/form-message', request: @request, message: @message %>
      </div>
      <div class="chat-message">
        <div class="messages" id="messages">
          <% @request.messages.each do |message| %>
            <%= render 'requests/one-message', team: @team, message: message %>
          <% end %>
        </div>
      </div>

    </div>

  <% end %>
</div>
