  <h3 class="text-center">Welcome <%= current_user.derby_name %>!</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-category">
          <div class="card-img">
            <h2><%= current_user.team.name.upcase %></h2>
            <p><%= cl_image_tag(current_user.team.photo, height: 250, width: 250,crop: :fill) %></p>
          </div>
          <div class="card-team-infos">
            <div class="team-content">
              <p><%= current_user.team.league.name %></p>
              <p><%= current_user.team.league.city %>, <%= current_user.team.league.country %></p>
            </div>
            <div class="star-ranking">
              <p class="ranking"><%= current_user.team.ranking %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8"><h3>Suggested teams</h3>
        <div class="row">
            <div class="col-md-4">first suggested team
            </div>
            <div class="col-md-4">second suggested team
            </div>
            <div class="col-md-4">third suggested team
            </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
      <% if current_user.team.games.count + current_user.requests.where(status: "accepted").count == 1 %>
        <h3>One upcoming event</h3>
      <% elsif current_user.team.games.count + current_user.requests.where(status: "accepted").count == 0 %>
        <h3>Upcoming events</h3>
        <% if current_user.team.requests.where(status: "pending").count == 0 %>
          <p>You have no event coming up.
          Try inviting a team!</p>
          <%= link_to "Find a team", teams_path %>
        <% else %>
          <p>You have no event coming up, and you have <%= current_user.team.requests.where(status: "pending").count %> pending requests. Try replying to a request!</p>
        <% end %>
      <% else %>
        <h3><%= current_user.team.games.count + current_user.requests.where(status: "accepted").count %> Upcoming Events - <%= link_to "See all", team_games_path(current_user.team) %></h3>
        <h5>Next game</h5>
      <% end %>
        <!-- games for requests i've received -->
        <% if current_user.team.games.present? %>
          <p>
            Against: <%= current_user.team.games.last.request.user.team.name %> - <%= current_user.team.games.last.request.user.team.league.name %>
          </p>
          <p>
            Dates: from <%= current_user.team.games.last.start_date %> to <%= current_user.team.games.last.end_date %>
          </p>
          <p>
            Location:
            <% if current_user.team.requests.last.at_home == false %>
              <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (away)
            <% else %>
              <%= current_user.team.requests.last.team.league.city %>, <%= current_user.team.requests.last.team.league.country %> (home)
            <% end %>
          </p>
          <p><%= link_to "Event details", team_game_path(current_user.team, current_user.team.games.last) %></p>
        <!-- games for requests i've sent -->
        <% elsif current_user.requests.where(status: "accepted").present? %>
          <p>Against: <%= current_user.requests.where(status: "accepted").last.team.name %> - <%= current_user.requests.where(status: "accepted").last.team.league.name %></p>
          <p>Dates: from <%= current_user.requests.where(status: "accepted").last.start_date %> to <%= current_user.requests.where(status: "accepted").last.end_date %></p>
          <p>
            Location:
            <% if current_user.requests.where(status: "accepted").last.at_home == true %>
              <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (home)
            <% else %>
              <%= current_user.requests.where(status: "accepted").last.team.league.city %>, <%= current_user.requests.where(status: "accepted").last.team.league.country %> (away)
            <% end %>
          </p>
          <p><%= link_to "Event details", team_game_path(current_user.requests.where(status: "accepted").last.team, current_user.requests.where(status: "accepted").last.game) %></p>
        <% end %>
      </div>

      <div class="col-md-8">
        <% if current_user.team.requests.where(status: "pending").count == 1 %>
          <h3>One pending request</h3>
        <% elsif current_user.team.requests.where(status: "pending").count == 0 %>
          <h3>Requests received</h3>
        <% else %>
          <h3><%= current_user.team.requests.where(status: "pending").count %> pending requests - <%= link_to "See all", team_requests_path(current_user.team) %></h3>
        <% end %>
            <% if current_user.team.requests.where(status: "pending").last.present? %>
            <div class="last-request">
              <h5>Last request received</h5>
              <p>From: <%= current_user.team.requests.where(status: "pending").last.user.team.name %> - <%= current_user.team.requests.where(status: "pending").last.user.team.league.name %></p>
              <p>Dates: from <%= current_user.team.requests.where(status: "pending").last.start_date %> to <%= current_user.team.requests.where(status: "pending").last.start_date %></p>
              <p>Location:
                <% if current_user.team.requests.where(status: "pending").last.at_home == false %>
                  <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (away)
                <% else %>
                  <%= current_user.team.requests.where(status: "pending").last.team.league.city %>, <%= current_user.team.requests.where(status: "pending").last.team.league.country %> (home)
                <% end %>
              </p>
              <p><%= link_to "See details", team_request_path(current_user.team, current_user.team.requests.where(status: "pending").last ) %></p>
              <br>
              <% else %>
                <p>You have no pending request, but you can always invite a team!</p>
                <%= link_to "Find a team", teams_path %>
              <% end %>
            </div>
      </div>
  </div>
</div>
