  <h3 class="text-center">Welcome <%= current_user.derby_name %>!</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-category">
          <div class="card-img">
            <h2><%= current_user.team.name.upcase %></h2>
            <p><%= cl_image_tag(current_user.team.photo, height: 250, width: 250,crop: :fill) %></p>
          </div>
          <div class="card-team-infos">
            <div class="team-content">
              <p><%= current_user.team.league.name %></p>
              <p><%= current_user.team.league.city %>, <%= current_user.team.league.country %></p>
            </div>
            <div class="star-ranking">
              <p class="ranking"><%= current_user.team.ranking %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8"><h3>Suggested teams</h3>
        <div class="row">
            <div class="col-md-4">first suggested team
            </div>
            <div class="col-md-4">second suggested team
            </div>
            <div class="col-md-4">third suggested team
            </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-md-4">
    <h3>Upcoming Events</h3>
    </div>
    <div class="col-md-8">
      <h3>Last Request</h3>
      <div class="last-request">
        <% if current_user.team.requests.where(status: "pending").last.present? %>
          <p>From: <%= current_user.team.requests.last.user.team.name %></p>
          <p>Dates: from <%= current_user.team.requests.last.start_date %> to <%= current_user.team.requests.last.start_date %></p>
          <p>Location:
            <% if current_user.team.requests.last.at_home == false %>
              <%= current_user.team.league.city %>, <%= current_user.team.league.country %> (away)
            <% else %>
              <%= current_user.team.requests.last.team.league.city %>, <%= current_user.team.requests.last.team.league.country %> (home)
            <% end %>
          </p>
          <p><%= link_to "See details", team_request_path(current_user.team, current_user.team.requests.last ) %></p>
          <% else %>
            <p>You have no pending request, but you can always invite a team!</p>
            <%= link_to "Find a team", teams_path %>
          <% end %>
      </div>
    </div>
  </div>
</div>






  <!--  -->
