<h2 class="text-center dashboard-title white">Welcome <%= current_user.derby_name %>!</h2>
<div class="container dashboard-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-category">
        <div class="team-name-ranking">
          <div class="team-name">
            <p><%= current_user.team.league.name.upcase %></p>
            <p><%= current_user.team.name %></p>
          </div>
          <div class="star-ranking">
            <p class="ranking">#<%= current_user.team.ranking %></p>
          </div>
        </div>
        <div class="card-img logo-img">
          <p><%= cl_image_tag(current_user.team.photo, height: 250, width: 250,crop: :fill, class: 'logo') %></p>
        </div>
        <div class="team-content text-center">
          <p><%= current_user.team.league.city %>, <%= current_user.team.league.country %></p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="sample-dashboard-center">
        <h3 class="text-center title-dashboard-sample">Suggested opponents: Find a challenger</h3>
        <div class="team-sample">
          <div class="row center-team-sample">
            <div class="col-xs-11 col-sm-11 col-md-11">
              <% @team_one = @suggested_teams.first %>
              <div class="card-dashboard team-dashboard">
                <div class="name-photo">
                  <div class="logo-img-team">
                    <%= cl_image_tag @team_one.photo, class: "avatar-large avatar-margin" %>
                  </div>
                  <div class="team-index-card team-name-location">
                    <p class="teams-index-name"><%= link_to @team_one.league.name.upcase, team_path(@team_one) %></p>
                    <p><%= link_to @team_one.name, team_path(@team_one) %></p>
                    <p class="team-index-location"><%= @team_one.league.city %>, <%= @team_one.league.country %></p>
                  </div>
                  </div>
                <div class="suggested-team-ranking">
                  <p class="teams-index-ranking text-center"><span class="pink-ranking">#<%= @team_one.ranking %></span></p>
                </div>
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11">
              <% @team_two = @suggested_teams.second %>
              <div class="card-dashboard team-dashboard">
                <div class="name-photo">
                  <div class="logo-img-team">
                    <%= cl_image_tag @team_two.photo, class: "avatar-large avatar-margin" %>
                  </div>
                  <div class="team-index-card team-name-location">
                    <p class="teams-index-name"><%= link_to @team_two.league.name.upcase, team_path(@team_two) %></p>
                    <p><%= link_to @team_two.name, team_path(@team_two) %></p>
                    <p class="team-index-location"><%= @team_two.league.city %>, <%= @team_two.league.country %></p>
                  </div>
                </div>

                <div class="suggested-team-ranking">
                  <p class="teams-index-ranking text-center"><span class="pink-ranking">#<%= @team_two.ranking %></span></p>
                </div>
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11">
              <% @team_three = @suggested_teams.third %>
              <div class="card-dashboard team-dashboard">
                <div class="name-photo">
                  <div class="logo-img-team">
                    <%= cl_image_tag @team_three.photo, class: "avatar-large avatar-margin" %>
                  </div>
                  <div class="team-index-card team-name-location">
                    <p class="teams-index-name"><%= link_to @team_three.league.name.upcase, team_path(@team_two) %></p>
                    <p><%= link_to @team_three.name, team_path(@team_two) %></p>
                    <p class="team-index-location"><%= @team_three.league.city %>, <%= @team_three.league.country %></p>
                  </div>

                </div>

                <div class="suggested-team-ranking">
                  <p class="teams-index-ranking text-center"><span class="pink-ranking">#<%= @team_three.ranking %></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
            <p class="text-right margin-btn">
            <%= link_to "FIND ANOTHER TEAM", teams_path, class: "my-btn sample-btn" %>
            </p>
      </div>
    </div>
  </div>
</div>
